<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Secure payments with</h3>
                <p>
                    <img src="img/cards.png" alt="" class="img-fluid">
                </p>
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100014229346755"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://x.com/?lang=en-in"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="icon-instagram"></i></a></li>
                        <li><a href="#0"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#0"><i class="icon-vimeo"></i></a></li>
                        <li><a href="https://www.youtube.com/@aniketsharma2584"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>
                        © Eventure 2025
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>